.dataset-info-panel
{
    h1,p
    {
        margin: 0;
    }

    h1
    {
        font-size: 30px;
        margin: 13px 0;
    }

    .control-buttons
    {
        margin-bottom: 13px;

        .button1
        {
            margin-right: 7px;

            .icon
            {
                height: 17px;
                width: 17px;
                margin-right: 7px;
            }
        }
    }

    .filters-display
    {
        margin-bottom: 10px;

        .filter-bubble
        {
            margin-right: 6px;
        }
    }
}
