.filter-bubble
{
    background: #ededed;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;

    & > p
    {
        display: inline-block;
        font-size: 16px;
    }

    .strikethrough
    {
        display: none;
        position: absolute;
        width: 90%;
        border-bottom: 2px solid #515151;
        top: 17px;
        left: 6px;

        &.showing
        {
            display: block;
        }
    }

    .remove-icon
    {
        display: inline-block;
    }

    p
    {
        &.tag-name
        {
            color: #818181;
        }

        &.ellipse
        {
            padding: 0 5px;
        }
    }
}