.tag-breakdown-analysis-panel
{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;

    .chart
    {
        display: block;
        flex: 1;
        overflow: hidden;
    }
}
