.tag-breakdown-analysis-panel
{
    padding: 8px 11px;
    border-radius: 15px;

    h2,p
    {
        margin: 0;
    }

    h2
    {
        margin-bottom: 6px;
    }

    .info
    {
        margin-bottom: 10px;
    }

    .controls
    {

    }

    .charts
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;

        .chart
        {
            display: block;
            flex: 1;
            overflow: hidden;

            h3
            {
                margin: 0;
                font-weight: 500;
                font-size: 18px;
                padding-left: 15px;
            }

            .chart-contain
            {
                height: 320px;

                &.pie
                {
                    height: 320px;
                }
            }
        }
    }
}
